* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Hi Melody", cursive;
  font-size: 1.1em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

/* Header */
.header {
  width: 100%;
  text-align: center;
  background: linear-gradient(to right, #db1bf6, #19d7f8);
  padding: 1rem;
}

.header h1 {
  font-size: 3.3em;
  background: linear-gradient(to right, #fff 20%, #ff0 40%, #ff0 60%, #fff 80%);
  background-size: 200% auto;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 1.5s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}

/* Word */
.word-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 5rem;
}

.word-title {
  font-size: 0.3em;
}

.word-input-box {
  margin-top: 2rem;
}

.word-input {
  padding: 0.5rem;
  width: 320px;
  border: 3px solid #ccc;
  border-radius: 10px;
  transition: 0.33s;
  outline: none;
}

.word-input:focus {
  border: 3px solid rgb(157, 35, 168);
}

/* Info */
.game-info {
  margin-top: 2rem;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.time,
.score {
  font-size: 2rem;
}

.traget-input {
  width: 100%;
}

.button {
  width: 80%;
  height: 2.5rem;
  background-color: #b747fc;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 3rem;
  cursor: pointer;
}

.loading {
  background-color: #ccc;
  cursor: not-allowed;
  outline: none;
}
